body, html, h3, p, cite {
  margin: 0;
  font-family: "Calibri";

}

a, a:hover {
  text-decoration: none;
  color: black;
}

.comment {
  position: relative;
  width: 100%;
  height: 600px;
  background: url(../images/CIT_bilding.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.com-block {
  position: absolute;
  height: 100%;
  width: 70%;
  left: 57%;
  transform: skewX(-16deg);
  background: rgba(0, 0, 0, 0.7);
}

.com-block section {
  transform: skewX(15deg);
  margin: 200px 430px 50px 70px;
}

.com-block h3.history-title {
  background-color: white;
  text-align: center;
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 24px;
  color: #313e4e;
  text-transform: uppercase;
}

.com-block p {
  text-align: justify;
  color: white;
  margin-bottom: 10px;
}

.com-block .history {
  text-align: center;
}

.director {
  position: absolute;
  z-index: 5;
  width: 70%;
  height: 100%;
  left: 100%;
  background: url(../images/director.png) no-repeat;
  transition: left 0.7s;
}

.arrow {
  position: absolute;
  z-index: 5;
  left: -5%;
  top: 40%;
  cursor: pointer;
  transition: left 0.7s;
}

.arrow img {
  display: block;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 3px 10px 2px black;
  transform: rotate(-30deg);
  transition: transform 0.7s;
}

.director:hover .arrow {
  left: 8%;
}

.director:hover .arrow img {
  transform: rotate(30deg);
}

.director:hover {
  left: 51%;
}

.description {
  position: absolute;
  left: 20%;
  bottom: 50px;
}

.director cite {
  display: block;
  margin-left: 20px;
  color: white;
  font-style: normal;
}

.director .name {
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}





