body,
html {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-family: "Calibri";
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

.btn-block {
  padding: 20px 100px;
}

.btn-block .video-btn {
  display: inline-block;
}

.site-btn {
  display: block;
  color: white;
  padding: 0 10px;
  border-radius: 20px;
  box-shadow: -5px 0 15px -5px black;
}

.blue {
  background-color: #0f4b88;
}

.video-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  font-family: "Calibri";
  font-size: 15px;
  line-height: 19px;
}

.video-box .video-block {
  display: block;
  width: 300px;
  margin: 10px;
  margin-bottom: 60px;
}

.video-block .main-video {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/baranchiki.png) no-repeat;
  height: 170px;
}

.video-block .main-video::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background: url(../images/video-triangle.png) no-repeat center;
  border: 5px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  transition: transform 0.7s;
}

.video-block .main-video:hover::before {
  transform: scale(1.1);
}

.comentary {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  margin-left: 70px;
}

.comentary h3 {
  margin: 20px 0 10px;
}

.comentary::before {
  content: "";
  position: absolute;
  display: block;
  width: 62px;
  height: 62px;
  background: url(../images/user.png) no-repeat;
  left: -70px;
}
